/* Task 1 - Write your code solution below */

.t1_div {
    display: inline-block;
    justify-content: center;
    align-items: center;
}


/* Task 2 - Write your code solution below */

.t2_span {
    display: block;
}

/* Task 3 - Write your code solution below */

.t3_span_red {
    display: block;
}

.t3_span_blue {
    display: inline-block;
}