h1 {
    text-align: left;
    margin-bottom: 0px;
    margin-left:  30px; 
    
}

#div_1 {
    padding-top: 0px;
    margin-left:  30px;
    
}

#div_2 {
    font-style: italic;
    padding-left: 30px;
}

nav ol {
    margin: 0px;
    padding: 0px;
    text-align: left;
}

h2 {
    font-size: 30px;
    padding-left: 40px;
    font-family: serif;
    font-weight: lighter;
}

nav ol li {
    font-size: 15px;
    display:inline-block;
    padding: 5px;
}

nav ul li {
    font-size: 15px;
    padding-left: 0px;
}

.card img {
    width: 200px;
    padding: 3px;
}

#image_container_1 {
    float:right;
    padding: 3px;
    border: solid gray 1px;
    margin: 10px;
}

h3 {
    font-size: 20px;
    font-weight: lighter;
    padding-left: 27px;
    padding-bottom: 0px;
}

.card {
    margin: 10px;
}

#image_container_2 {
    float:right;
    padding: 3px;
    border: solid gray 1px;
    margin: 10px;
}

#image_container_3 {
    float:right;
    padding: 3px;
    border: solid gray 1px;
    margin: 10px;
}

#image_container_4 {
    float:right;
    padding: 3px;
    border: solid gray 1px;
    margin: 10px;
}

