#grid_container {
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
    grid-template-areas:
    ". header_area ."
    ". main_area .";
}
    body {
        font-family: sans-serif;
    }

    h1 {
        text-align: center;
    }

    h4 {
        margin-left: 30px;
    }

    h5 {
        text-align: center;
        font-weight: lighter;
        font-size: 13px;
        margin: 0 50px 50px;
    }

    header {
        grid-area: header_area;
    }

    main {
        grid-area: main_area;
    }

    body {
        background-color: rgb(216, 231, 218);
    }

    form {
        background-color: white;
        border: 2px solid rgb(243, 242, 242);
        padding: 36px;
        margin: 0px 20px 20px;
    }

    .text_input label{
        display: block;
        margin-left: 30px;
    }

    #message_id {
        width: 400px;
        height: 100px;
        margin: 10px 30px 30px;
        padding: 12px;
        font-family:sans-serif;
        border: 1px solid rgb(121, 121, 121);

    }

    #message_id:focus-visible {
        outline: 0;
        border: 3px solid gray;
    }

    #email_id {
        width: 400px;
        margin: 10px 30px 30px;
        padding: 12px;
        font-family:sans-serif;
        border: 1px solid rgb(121, 121, 121);

    }

    #email_id:focus-visible {
        outline: 0;
        border: 3px solid rgb(193, 222, 197)
    }

    #first_name_id {
        width: 400px;
        margin: 10px 30px 30px;
        padding: 12px;
        font-family:sans-serif;
        border: 1px solid rgb(121, 121, 121);

    }

    input:not(:focus):not(:placeholder-shown):invalid {
        background-color: lightcoral;
    }

    #first_name_id:focus-visible {
        outline: 0;
        border: 3px solid gray;
    }


    #help_id {
        width: 430px;
        margin: 10px 30px 30px;
        padding: 12px;
        font-family:sans-serif;
        border: 1px solid rgb(121, 121, 121);
    }

    #help_id:focus-visible {
        outline: 0;
        border: 3px solid rgb(193, 222, 197) ;
    }


    input[type=submit] {
        background: rgb(196, 195, 195);
        border:0px;
        border-radius: 20px;
        padding: 12px 48px;
        margin-left: 30px;
        cursor: pointer;
        font-size: 15px;
    } 
    
    input[type=submit]:hover {
        background: rgb(120, 119, 119);
    }

    p {
        text-align: right;
        font-size: 12px;
    }
        

    
    

