
body {
    font-family: sans-serif;
    background-color: rgb(244, 242, 242);
    padding: 300px;
}

h1 {
    margin-left: 20px;
    margin-bottom: 0px;
    padding-top: 5px;
    text-align: center;
}

#div_1 {
    margin-left: 20px;
    padding-top: 0px;
    color: rgb(96, 95, 95);
    text-align: center;
}

form {
    background-color: white;
    border: 2px solid rgb(243, 242, 242);
    border-radius: 10px;
    align-items: center;
    padding: 0px;
}

hr {
    width: 100%;
    border: .5px solid lightgray;
}

img {
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
   
}

.flexbox {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    padding: 0px;
    justify-content: center;
}

.second {
    justify-content: center;
}

.third {
    justify-content: center;
}

.names{
    justify-content: center;
    
}

.birthday {
    justify-content: center;
}

.labels {
    justify-content: left;
}

#password_id {
    width: 425px;
    padding: 12px;
    border: 1px solid rgb(212, 212, 212);
    margin-top: 0px;
    border-radius: 5px;
    font-size: 15px;
}

#password_id:focus-visible {
    outline: 0;
    border: solid 1px rgb(212, 212, 212);
}

#password_id:not(:focus):not(:placeholder-shown):invalid {
    border: solid 1px rgb(255, 7, 7);
}

#first_name_id:focus-visible {
    outline: 0;
    border: solid 1px rgb(212, 212, 212);
}

#email_id {
    width: 425px;
    margin: 10px 3px 0px;
    padding: 12px;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 5px;
    font-size: 15px;

}

#email_id:focus-visible {
    outline: 0;
    border: solid 1px rgb(212, 212, 212);
}

#email_id:not(:focus):not(:placeholder-shown):invalid {
    border: solid 1px rgb(255, 7, 7);
}



p {
    margin-left: 110px;
    margin-right: 90px;
    font-size: 12px;
    color:  rgb(117, 116, 116);
}

#first_name_id {
    width: 197.5px;
    margin-left: 5px;
    padding: 12px;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 5px;
    font-size: 15px;
}

#first_name_id:not(:focus):not(:placeholder-shown):invalid {
    border: solid 1px rgb(255, 7, 7);
}



#month_id, #day_id, #year_id{
    width: 146px;
    height: 40px;
    margin: 3px;
    border-radius: 5px;
    border: 1px solid rgb(212, 212, 212);
    font-size: 15px;
}

.genders {
    display: inline-block;
    padding: 9px 37px;
    margin: 3px;
    border-radius: 5px;
    border: 1px solid rgb(212, 212, 212);
    text-align: center;
    font-size: 15px;
}

.row {
    justify-content: center;
}

.labels {
    font-size: 12px;
    color: rgb(113, 112, 112);
    margin-left: 110px;
}

input[type=submit] {
    background: rgb(14, 162, 14);
    border:0px;
    border-radius: 5px;
    padding: 12px 48px;
    cursor: pointer;
    font-size: 19px;
    font-weight: bold;
    color:aliceblue ;
    
} 

h4 {
    color: blue;
    font-weight: normal;
    font-size: 18px;
}

input[type=submit]:hover {
    background: rgb(9, 158, 34);
    color: rgb(230, 225, 225);
}




   




